.search {
  margin-bottom: 50px;
}

.search h1 {
  text-align: center;
  font-size: 40px;
  color: #d96226;
  margin-bottom: 20px;
}
.search-form {
  text-align: center;
  margin-bottom: 40px;
}

.search-form input,
select {
  width: 30%;
  color: black;
  border-radius: 20px;
  height: 40px;
  border: 1px solid #fff;
  font-size: 18px;
}

.search-list {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.no-match {
  background: rgba(0, 0, 0, 0.703);
  display: inline-block;
  width: 60%;
  height: 100px;
  margin-top: 5%;
  color: white;
  border: 1px solid white;
}

.no-match p {
  font-size: 30px;
  text-align: center;
}
